<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /webapp/angular_flask/static/partials/</title>
</head>
<body>
<h1>Directory listing for /webapp/angular_flask/static/partials/</h1>
<hr>
<ul>
<li><a href="about.html">about.html</a></li>
<li><a href="landing.html">landing.html</a></li>
<li><a href="post-detail.html">post-detail.html</a></li>
<li><a href="post-list.html">post-list.html</a></li>
</ul>
<hr>
</body>
</html>
